#mi-primer-div {
    background-color: rgb(202, 227, 227);
    color: rgb(19, 19, 218);
}
#mi-primer-div > h2 { 
    color: red;
}
#mi-segundo-div {
    display: flex;
    justify-content: space-around;
    background-color: blanchedalmond;
    color: blueviolet;
}
#mi-segundo-div > p {
    color: black;
}

a{                               
    color: blueviolet;
} /* puedo llamar directamente etiquetas sin tener que ponerles clase o dentro de divs */ 