.triptico {
    display: flex;
    justify-content: space-between; /* Distribuye los paneles con espacio entre ellos POR QUÉ NO FUNCIONA??*/
    height: 700px; /* Altura fija para los paneles */
}

.panel {
    flex: 1; /* Hace que cada panel ocupe el mismo espacio */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Tamaño de fuente (opcional) */
    text-align: center; /* Alineación de texto centrada (opcional) */
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3); /* Sombra para los paneles */
    border-radius: 30px; /* Bordes redondeados para los paneles */
}
.images {
    display: flex;
    flex-direction: column; /* Apila las imágenes verticalmente */
    align-items: center; /* Centra las imágenes horizontalmente */
}
.panel-center {
    background-color: rgb(115, 93, 227); /* Color de fondo del panel central */
    z-index: 1; /* Asegura que el panel central esté encima de los laterales */
    background: linear-gradient(135deg, #05022f, #ba9ee1); /* Da el efecto de color con iluminación */
    display: flex;
    overflow: hidden; /* Para ocultar el desbordamiento de las imágenes */
}

.panel-left, .panel-right {
    background-image: url('https://i.gifer.com/Yz80.gif'); /* Imagen de fondo para los paneles laterales */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el panel */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center; /* Centra la imagen de fondo */
}
body {
    background-image: url("https://i.makeagif.com/media/7-20-2016/e086-a.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
