body {
    background-color: rgb(249, 248, 238);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    margin-left: 200px;
    margin-right: 250px;
}
.titulo {
    display: flex;
    justify-content: center;
    align-items:baseline;
    margin: 20px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(230, 187, 88);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.titulo h2 {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin-left: 10px;
}
.secciones {
    margin: 50px;
    margin-top: -5px;
}
.primeras-secciones {
    display:flex;
    justify-content: space-between;
    margin-left: 150px;
}
.segundas-secciones {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    align-self: flex-start;
    margin-left: 150px;
}
.nombre {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.terceras-secciones {
    display: flex;
    flex-direction: column;
    width: 26%;
    margin-left: auto;
    margin-top: -220px;
    margin-right: 140px;
}
.lugar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.postal {
    margin-left: 10px;
    margin-top: 10px;
}
.region {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.ciudad {
    display:flex;
    flex-direction: column;
    margin-top: 10px;
}
.cancel-send {
    display: flex;
    justify-content: space-between;
    margin-left: 550px;
    margin-bottom: -20px;
}
.send-button {
    background-color: rgb(152, 199, 232);
}
.cancel-button {
    margin-left: 150px;
}

.parrafito{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 20px;
}
.payment-methods {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: -13px;
}   
.pagos {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(211, 208, 202);
    margin-top: 15px; 
    padding: auto;
    height: 90px;
    width: 160px;

}