body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://wallpapers.com/images/hd/colorful-space-900-x-1600-wallpaper-nj76xywvv394b7hm.jpg);
    background-size: cover;
}

.main {
    background: #060606;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.menu ul li a:hover {
    background: #7f22a8;
}

.section {
    padding: 20px;
    text-align: center;
    color: rgb(217, 217, 225);
}

section {
    padding: 100px;
    margin: 50px 0;
    color: rgb(169, 169, 178);
}

#section1 {
    background: #040404;
}

#section2 {
    background: #040404;
}

#section3 {
    background: #040404;
}