html {
    scroll-behavior: smooth;
}

body {
    background-image: url("https://images.hdqwalls.com/download/cgi-rendeer-purple-4k-8r-1366x768.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5bfc3e884cde7a5d18b39ad9/1644624947911-13DCD8KG0CVPW1ZVAH9G/63243aacfe563f25e472f9e187723df1.gif?format=2500w");
    padding: 10px 0;
}
.menu {
    position: fixed; /* Fija el menú en la ventana del navegador */
    top: 0; /* Asegura que esté fijo en la parte superior */
    width: 100%; /* Ocupa todo el ancho de la ventana */
    background-color: rgba(0, 0, 0, 0.8); /* Color de fondo para el menú */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    transition: top 0.3s ease-in-out; /* Transición suave al cambiar la posición */
    margin-top: 0;
}
.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.menu ul li {
    margin: 0 25px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.menu ul li a:hover {
    background-color: #560b5a;
}

.section {
    color: rgb(217, 217, 225);
    padding: 20px;
    text-align: left;
    margin: 50px;
    margin-top: 200px; /* Ajuste según sea necesario */
    margin-left: 150px; /* Ajuste según sea necesario */
}

.letra-grande {
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(45deg, #912185, #fad0c4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent; /* Corregido: Eliminado prefijo '-webkit-' redundante */
}

section {
    padding: 100px;
    margin: 50px 0;
    color: rgb(169, 169, 178);
}

.section img {
    border-radius: 50%;
    margin-bottom: 40px;
    margin-top: -200px; /* Ajuste según sea necesario */
    margin-left: 700px; /* Ajuste según sea necesario */
}

#section1 {
    background: linear-gradient(145deg, rgb(0, 0, 0), rgb(74, 19, 93));
}

#section2,
#section4,
#section5 {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5bfc3e884cde7a5d18b39ad9/1644624947911-13DCD8KG0CVPW1ZVAH9G/63243aacfe563f25e472f9e187723df1.gif?format=2500w");
    background-size: cover;
}

#section3 {
    background: linear-gradient(145deg, rgb(0, 0, 0), rgb(74, 19, 93));
}

#section0 {
    background: linear-gradient(145deg, rgb(0, 0, 0), rgb(21, 3, 27));
}

#section0 .contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#section0 i {
    margin-right: 10px;
}

#section0 p {
    margin: 5px;
}

.linkedin,
.github {
    display: flex;
    align-items: center;
    margin-left: 100px; /* Ajuste según sea necesario */
}

.linkedin a,
.github a {
    color: rgba(255, 255, 255, 0.637);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.linkedin i,
.github i {
    margin-right: 8px;
    color: antiquewhite;
}

.bootcamp,
.idiomas {
    margin-top: 50px; 
}

.gallery-container {
    display: flex;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
}

.gallery {
    display: flex;
}

.gallery-item img {
    width: 100%; /* Ajuste para ocupar todo el espacio disponible */
    display: block;
    transition: transform 0.3s ease-in-out;
}

.gallery-item img:hover {
    transform: scale(1.2); /* Zoom al hacer hover */
    cursor: pointer; /* Cambia el cursor a pointer */
}
